<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Project Title{% endblock %}</title>
    <!-- Add your CSS links or stylesheets here -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block style %}{% endblock style %}
</head>
<body>
    {% if messages %}
        <div class="alert alert-danger">
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Add footer content or links here -->
    </footer>

    <!-- Add your JavaScript scripts or links here -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
